.inputPlace{
  width: 100%;
  text-align: center;
  input{
    width: 70%;
    min-height: 2.3em;
    font-size: 1.1em;
    padding-left: 0.5em;
    border: none;
    outline: none;
    border-radius: 0.5em 0 0 0.5em;
  }
  button{
    width: 10%;
    min-height: 2.3em;
    font-size: 1.1em;
    border: none;
    outline: none;
    border-radius: 0 0.5em 0.5em 0;
    cursor: pointer;
  }
}