.listPlace {
  margin: 2em 0;
  .list {
    height: 20em;
    overflow-y: scroll;
    padding: 0 0.2em;
    &::-webkit-scrollbar {
      width: 0;
      //background-color: rgba(237,199,149,1);
    }
    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.2px solid rgba(246, 246, 246, 0.3);
      margin-bottom: 1em;
      .textAndRadio {
        display: flex;
        align-items: center;
        input {
          margin-right: 1em;
          position: relative;
          top: 1px;
        }
        .valueTodo{

        }
      }

      .icondelete, input {
        cursor: pointer;
      }
    }
  }
}