.main{
  width: 100%;
  min-height: 100vh;
  background-image: url("../../Assets/bg.jpg");
  background-size: cover;
  display: flex;
  .boxTodoList{
    width: 30%;
    margin: auto auto;
    background-color: rgba(37,22,14,0.5);
    box-shadow: 5px 10px 8px rgba(79,56,30,1);
    border-radius: 0.7em;
    .border{
      padding: 1.2em;
      .header{
        width: 100%;
        background-color: rgba(226,174,119,0.7);
        padding: 2em 1em;
        border-radius: 0.5em 0.5em 0 0;
        .calendar{
          position: relative;
          text-align: center;
          .textCalendar{
            cursor: pointer;
          }
          .tableCalendar{
            position: absolute;
            z-index: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            .react-calendar{
              width: 100%;
              .react-calendar__month-view__days{
                .react-calendar__tile--now:enabled:hover {

                }
              }
            }
          }
        }
        .sumaryInformation{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 1em;
          .itemSumary{
            display: block;
            text-align: center;
            span{}
            h3{}
          }
        }
      }
      .body{
        width: 100%;
        background-color: rgba(237,199,149,0.7);
        padding: 2em 1em;
        border-radius: 0 0 0.5em 0.5em;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .main{
    .boxTodoList{
      width: 98%!important;
    }
  }
}
@media only screen and (max-width: 896px) {
  .main{
    .boxTodoList{
      width: 60%;
    }
  }
}