*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
}
ul{
    list-style: none;
}
input[type="text"]{
    /*border: none;
    outline: none;*/

}
.toastlify{
    --toastify-color-progress-success: rgba(226,174,119,0.7);
    --toastify-text-color-success: #000000;
    --toastify-icon-color-success:rgba(237,199,149,1);
}